footer.footer
	.container
		.footer__inner
			.footer__socials
				a(href="#").footer__socials-link
					img(src="../assets/images/content/linked.svg", alt="alt")
				a(href="#").footer__socials-link
					img(src="../assets/images/content/git.svg", alt="alt")
				a(href="#").footer__socials-link
					img(src="../assets/images/content/twitter.svg", alt="alt")
				a(href="#").footer__socials-link
					img(src="../assets/images/content/facebook.svg", alt="alt")
				a(href="#").footer__socials-link
					img(src="../assets/images/content/youtube.svg", alt="alt")
				a(href="#").footer__socials-link
					img(src="../assets/images/content/telegram.svg", alt="alt")
				a(href="#").footer__socials-link
					img(src="../assets/images/content/gmail.svg", alt="alt")
			.footer__languages
				a(href="#").footer__languages-item ru
				a(href="#").footer__languages-item en
			.footer__copyright
				span COPYRIGHT © DANIL KOTLAEV