header.header
	.container
		.header__inner
			a(href="#").header__logo
				svg
					use(xlink:href="assets/images/icons/sprite.svg#logo")
				span Portfolio
			ul.nav
				li.nav__item
					a(href="#").nav__link Home
				li.nav__item
					a(href="#").nav__link About
				li.nav__item
					a(href="#").nav__link Portfolio
				li.nav__item
					a(href="#").nav__link Contact