section.hero
	.container
		.hero__inner
			div.dec-hello hello
			div.dec-am i am
			h1 danil kotlaev
			h2 JUNIOR WEB DEVELOPER
			a(href="#").button CONTACT ME
			a(href="#").round-button
				svg
					use(xlink:href="assets/images/icons/sprite.svg#hero-arrow")