extends layouts/default
block variables
  - var title='Portfolio'
block content
  section.section.section__light
    .container
      h3.section__title.section__title_dark services
  section.section.section__dark.about
    .container
      h3.section__title.section__title_light about
      .about__inner
        p.about__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem provident amet asperiores natus, sunt culpa quas necessitatibus sit aut ad illum esse delectus quibusdam labore nulla autem eveniet quis earum eaque, blanditiis voluptatibus id enim. Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem provident amet asperiores natus, sunt culpa quas necessitatibus sit aut ad illum esse delectus quibusdam labore nulla autem eveniet quis earum eaque, blanditiis voluptatibus id enim.
        .about__buttons
          a(href="#").button EXPERIENCE
          a(href="#").button TECHNOLOGY
  section.section.section__light
    .container
      h3.section__title.section__title_dark reviews
  section.section.section__dark.form
    .container
      h3.section__title.section__title_light form
  section.section.section__light.faq
    .container
      h3.section__title.section__title_dark faq