extends layouts/default
block variables
  - var title='Portfolio'
block content
  section.section.section__light.services
    .container
      h3.section__title.section__title_dark services
      .services__inner
        .services__item
          h4 ui / ux <br>design
        .services__item
          h4 dev
        .services__item
          h4 seo
  section.section.section__dark.about
    .container
      h3.section__title.section__title_light about
      .about__inner
        p.about__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem provident amet asperiores natus, sunt culpa quas necessitatibus sit aut ad illum esse delectus quibusdam labore nulla autem eveniet quis earum eaque, blanditiis voluptatibus id enim. Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem provident amet asperiores natus, sunt culpa quas necessitatibus sit aut ad illum esse delectus quibusdam labore nulla autem eveniet quis earum eaque, blanditiis voluptatibus id enim.
        .about__buttons
          a(href="#").button EXPERIENCE
          a(href="#").button TECHNOLOGY
  section.section.section__light.reviews
    .container
      h3.section__title.section__title_dark reviews
  section.section.section__dark.form
    .container
      h3.section__title.section__title_light form
  section.section.section__light.faq
    .container
      h3.section__title.section__title_dark faq
      .faq__inner
        .accordeon
          dl.accordeon__item
            dt.accordeon__triger
              span Заголовок
              .round
            dd.accordeon__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam ea, accusamus. Numquam non commodi ipsum debitis repudiandae amet vero itaque, deserunt, ad neque libero quae officia. Facilis non, possimus doloribus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quis voluptatem repellat? Blanditiis iste, exercitationem porro, magni amet cupiditate enim, labore tenetur, praesentium quam consequuntur nesciunt. Culpa dicta adipisci voluptatem.
          dl.accordeon__item
            dt.accordeon__triger
              span Заголовок
              .round
            dd.accordeon__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quis voluptatem repellat? Blanditiis iste, exercitationem porro, magni amet cupiditate enim, labore tenetur, praesentium quam consequuntur nesciunt. Culpa dicta adipisci voluptatem.
          dl.accordeon__item
            dt.accordeon__triger
              span Заголовок
              .round
            dd.accordeon__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam ea, accusamus. Numquam non commodi ipsum debitis repudiandae amet vero itaque, deserunt, ad neque libero quae officia. Facilis non, possimus doloribus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quis voluptatem repellat? Blanditiis iste, exercitationem porro, magni amet cupiditate enim, labore tenetur, praesentium quam consequuntur nesciunt. Culpa dicta adipisci voluptatem.
          dl.accordeon__item
            dt.accordeon__triger
              span Заголовок
              .round
            dd.accordeon__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quis voluptatem repellat? Blanditiis iste, exercitationem porro, magni amet cupiditate enim, labore tenetur, praesentium quam consequuntur nesciunt. Culpa dicta adipisci voluptatem.