.button{
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 22rem;
	height: 6rem;
	background-color: transparent;
	border: 3px solid $white;
	border-radius: 5px;
	font-weight: 600;
	font-size: 2.4rem;
	color: $white;
	transition: background-color .2s ease-in-out, color .2s ease-in-out;
	&:hover{
		background-color: $white;
		color: $fontColor;
	}
}
.round-button{
	position: absolute;
	left: 0;
	bottom: 6rem;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 4rem;
	height: 4rem;
	background-color: transparent;
	border: 2px solid $white;
	border-radius: 50%;
	transition: background-color .2s ease-in-out, color .2s ease-in-out;
	svg {
		display: flex;
		width: 4rem;
		height: 1.6rem;
		fill: $white;
		transition: background-color .2s ease-in-out, color .2s ease-in-out;
	}
	&:hover {
		background-color: $white;
		svg{
			fill: $fontColor;
		}
	}
}